[submodule "kicad-pcb/keebio-components"]
	path = kicad-pcb/keebio-components
	url = https://github.com/keebio/keebio-components
[submodule "kicad-pcb/MX_Alps_Hybrid"]
	path = kicad-pcb/MX_Alps_Hybrid
	url = https://github.com/ai03-2725/MX_Alps_Hybrid.git
